@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.landingpage {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);

    &__box {
        margin-top: 24rem;
        margin-left: 20rem;
        @media only screen and (max-width: $bp-medium) {
            margin-left: 8rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin-left: 6rem;
        }
        @media only screen and (max-width: $bp-mobile) {
            margin-left: 3rem;
        }
    }

    &__header{
        color: $color-white;
        text-transform: uppercase;
        
        &-primary {
            height: 12rem;
            font-size: 9rem;
            @include animation('moveinleft 0.6s');

            @media only screen and (max-width: $bp-largest) {
                @include animation('moveinleft2 0.6s');
            }

            @media only screen and (max-width: $bp-medium) {
                height: 10rem;
                font-size: 8rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 8rem;
            }
            @media only screen and (max-width: $bp-mobile) {
                height: 7rem;
                font-size: 4.8rem;
            }
        }

        &-secondary {
            font-weight: 200;
            font-size: 3rem;
            font-family: 'Tuffy-Italic';
            margin-right: 10px ;
            @include animation('moveinright 0.6s');

            @media only screen and (max-width: $bp-largest) {
                @include animation('moveinright2 0.6s');
            }

            @media only screen and (max-width: $bp-medium) {
                font-size: 2.5rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;
            }
            @media only screen and (max-width: $bp-mobile) {
                font-size: 2rem;
            }
        }
    }
    &__btn {
        height: 4rem;
        margin-top: 30rem;
        @media only screen and (max-width: 1110px) {
                margin-top: 25rem;
            }
        @media only screen and (max-width: 650px) {
                margin-top: 40rem;
            }
        transition: all .2s;
        @media only screen and (max-height: $sh-small) {
            margin-top: 20rem;
        }
        @media only screen and (max-height: $sh-mobile) {
            margin-top: 15rem;
        }
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    &__arrow {
        text-align: center;
        @include animation('moveupanddown 0.6s');
        @media only screen and (max-width: $bp-largest) {
            @include animation('moveupanddown2 0.6s');
        }
    }
}
