// COLORS

$color-wite: #fff;
$color-grey-dark: #1D1D1D;
$color-black: #000;



//FONTS SIZES

$font-size-header-primary: 10rem;
$font-size-huge: 3rem;
$font-size-large: 2rem;
$font-size-normal: 1.2rem;

