@import '../../styles/variables.scss';

// 650 ig fb

.contact {
    color: $color-white;
    background-color: $color-grey-dark;

    &__header {
        font-family: 'Tuffy-Bold';
        padding: 7rem;
        text-align: center;
        font-size: 4rem;

        @media only screen and (max-width: 620px) {
            font-size: 3rem;
            padding: 4rem;
        }

        @media only screen and (max-width: 350px) {
            font-size: 2.7rem;
            padding: 3rem;
        }
    }


    &__main {
        display: flex;
        margin: 0 auto;
        justify-content: center;

        @media only screen and (max-width: 900px) {
            display: block;
            position: relative;
            width: 80%;
        }

        &-map {
            @media only screen and (max-width: 900px) {
                transform: translateY(5px);
            }
        }

        &-container {
            width: 40%;
            height: 60rem;
            background-color: #323232;
            position: relative;

            @media only screen and (max-width: 900px) {
                width: 100%;
            }

            @media only screen and (max-width: 450px) {
                height: 55rem;
            }
        }

        &-polygon {
            width: 5rem;
            position: absolute;
            left: -4.8rem;
            top: 4rem;

            @media only screen and (max-width: 900px) {
                display: none;
            }
        }

        &-form {

            &-header {
                text-align: center;
                font-size: 4rem;
                margin-top: 1rem;

                @media only screen and (max-width: 900px) {
                    margin-top: 0;
                }
            }

            &-inputs > input, &-inputs > textarea {
                margin-top: 3rem;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            &-input {
                width: 45%;
                height: 5.5rem;
                border-radius: 3.5rem;
                border: none;
                padding: 0 1.5rem;
                font-size: 1.8rem;

                @media only screen and (max-width: 1550px) {
                    width: 60%;
                }

                @media only screen and (max-width: 550px) {
                    width: 80%;
                }
            }

            &-input:focus, &-textarea {
                outline: none;
            }

            &-textarea {
                width: 45%;
                height: 18rem;
                border-radius: 2.5rem;
                font-size: 2.3rem;
                padding: 1.3rem;

                @media only screen and (max-width: 1550px) {
                    width: 60%;
                }

                @media only screen and (max-width: 550px) {
                    width: 80%;
                }
            }

            &-submit {
                width: 20%;
                border-radius: 3rem;
                padding: 1rem;
                background-color: $color-white;
                color: #323232;
                font-size: 1.8rem;
                margin-top: 2rem;
                font-family: 'Tuffy-Bold';
                cursor: pointer;
                border: none;

                position: relative;
                left: 50%;
                transform: translateX(-50%);

                @media only screen and (max-width: 1550px) {
                    width: 30%;
                }

                @media only screen and (max-width: 550px) {
                    width: 40%;
                }
                
                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__socials {
        display: flex;
        width: 48rem;
        margin: 0 auto;
        margin-top: 2rem;

        @media only screen and (max-width: 650px) {
            display: block;
            width: 80%;
        }

        &-container {
            &-last {
                margin-left: auto;
            }
        }

        &-content {
            display: flex;
            align-items: center;
            text-decoration: none;

            @media only screen and (max-width: 650px) {
                justify-content: center;
                margin-top: 2rem;
            }

            &-icon {
                width: 5rem;
            }
    
            &-link {
                color: $color-white;
                font-size: 2.5rem;
                margin-left: 1rem;
            }
        }
    }

    &__others {

        margin-top: 3rem;

        &-container {
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-icon {
            width: 5rem;
        }

        &-text {
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }
    }

    &__copyright {
        margin-top: 3rem;
        text-align: center;
        font-size: 1.5rem;
    }
}