@import '../../styles/variables.scss';

.aboutme {
    padding-top: 25rem;
    height: 80hv;
    background-color: $color-grey-dark;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%);
    margin-top: -10.1vh;
    padding-bottom: 3rem;
    

    &__content {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 0 auto;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            width: 90vw;

        }
        
    }

    &__image {
        height: 50rem;
        border: 0.6rem solid $color-white;
        @media only screen and (max-width: $bp-largest) {
            height: 40vw;
            margin-bottom: 5rem;
        }
        @media only screen and (max-width: $bp-mobile) {
            height: 60vw;
        }
    }

    &__box {
        margin-left: 5rem;
        text-align: center;

        @media only screen and (max-width: $bp-largest) {
            margin-left: 5;
        }
        @media only screen and (max-width: $bp-medium) {
            margin-left: 0;

        }
    }

    &__header{
        color: $color-white;
        font-size: 7rem;
        text-transform: uppercase;
        @media only screen and (max-width: $bp-largest) {
            font-size: 4rem;
        }
    }

    &__text {

        color: $color-white;
        font-size: 2.3rem;
        text-align: justify;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
    }

    &__something {
        color: $color-white;
        font-size: 3rem;
        text-align: right;
        margin-top: 5rem;
    }
}